In [3]:
from exbook import book as eb

eb[34]

Given a nested list of integers, implement an iterator to flatten it. Each
element is either an integer, or a list -- whose elements may also be integers
or other lists. For example, if the input is [[1,1],2,[1,1]], then the output
is [1, 1, 2, 1, 1]. If the input is [1,[4,[6]]], then the output is [1, 4, 6].

                Input1: list     Output: list
Test 1:  [[1, 1], 2, [1, 1]]  [1, 1, 2, 1, 1]
Test 2:        [1, [4, [6]]]        [1, 4, 6]

Flatten Lists: Hard

In [7]:
def flatten(ls):
    result = []
    
    for element in ls:
        if type(element) == list:
            result.extend(flatten(element))
        else:
            result.append(element)
            
    return result

eb[34].check(flatten)

You passed 3 of the 3 tests.
The solution is correct