# Question 9

In [1]:
from exbook import book as eb

eb[8]

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values but are at
the different positions. For example, if these two lists are [1, 2, 3, 5]
and [2, 1, 3, 4], then the output is 2 because the same values 1 and
2 appear at the different positions.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2
Test 2:  [1, 2, 3, 5]  [1, 2, 3, 4]           0

Wrong Position: Easy

In [2]:
def wrong_position(ls1, ls2):
    count = 0
    for a, b in zip(ls1, ls2):
        if a in ls2 and a != b:
            count+=1
    return count

eb[8].check(wrong_position)

You passed 5 of the 5 tests.
The solution is correct