# Question 7

In [1]:
from exbook import book as eb

eb[6]

Given a list of numbers as the first input argument, write a function to
remove all items in the list that have the same value as the second input
argument. For example, if the first argument is [1, 3, 2, 2, 4, 2, 5] and
the second argument is given as 2, then the output is [1, 3, 4, 5], with
all 2s removed.

               Input1: list Input2: int  Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           2  [0, 1, 3, 5]
Test 2:        [0, 1, 2, 3]           4  [0, 1, 2, 3]

Remove All: Easy

In [2]:
def remove_all(ls, n):
    return [num for num in ls if num != n]

eb[6].check(remove_all)

You passed 4 of the 4 tests.
The solution is correct