# Question 11

In [1]:
from exbook import book as eb

eb[10]

Given a list of numbers as the first input argument, and an integer k as
the second argument, write a function that returns a list of the k smallest
numbers of the list. Items in the returned list is ranked from the smallest
to the largest. For example, if the list is [0, 1, 2, 3, 2, 5], and the
integer is k=3, then the returned list is [0, 1, 2]. If k is larger than
the length of the list, then return the whole list.

               Input1: list Input2: int        Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           3           [0, 1, 2]
Test 2:  [0, 1, 2, 3, 2, 5]           1                 [0]
Test 3:  [0, 1, 2, 3, 2, 5]           8  [0, 1, 2, 2, 3, 5]

K Smallest: Medium

In [10]:
def k_smallest(ls, k):
    sorted_ls = ls.copy()
    sorted_ls.sort()
    if k > len(ls):
        return sorted_ls
    else:
        return sorted_ls[0:k]

eb[10].check(k_smallest)

You passed 9 of the 9 tests.
The solution is correct