In [1]:
from exbook import book as eb

eb[25]

Given positive integers n and m as input arguments, write a function to
select all positive integers that are no larger than n and the summations
of all digits are the same as m. Return these selected integers as a list.
For example, if n = 30 and m = 5, the returned output is [5, 14, 23], if
n = 50 and m = 9, then returned output is [9, 18, 27, 36, 45]

        Input1: int Input2: int         Output: list
Test 1:          30           5          [5, 14, 23]
Test 2:          50           9  [9, 18, 27, 36, 45]

Digit Sum: Medium

In [5]:
def digit_sum(n, m):
    result = []
    for num in range(1, n + 1):
        sum = 0
        for digit in str(num):
            sum += int(digit)
        if (sum == m):
            result.append(num)
    return result

eb[25].check(digit_sum)

You passed 4 of the 4 tests.
The solution is correct