In [1]:
from exbook import book as eb

eb[23]

Write a function with one argument n, to return the nth row of the Pascal's
triangle. For example, if n=1, the output is [1]; if n=2, then the output is
[1, 1]; if n=3, then the output is [1, 2, 1]; if n=4, then the output is [1,
3, 3, 1].

        Input1: int                            Output: list
Test 1:           3                               [1, 2, 1]
Test 2:           5                         [1, 4, 6, 4, 1]
Test 3:          10  [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

Pascal Triangle: Hard

In [30]:
def pascal(lvl):
    result = [1]
    for n in range(1, lvl):
        nextLvl = []
        for i in range(0, n + 1):
            if i == 0 or i == n:
                nextLvl.append(1)
            else:
                nextLvl.append(result[i - 1] + result[i])
        result = nextLvl
    return result

eb[23].check(pascal)

You passed 8 of the 8 tests.
The solution is correct