In [2]:
from exbook import book as eb

eb[18]

Create a function to convert a list of scores to grades. Grade "A" accounts
for scores no lower than 90; grade "B" accounts for scores between 80 to 89;
and grade "C" accounts for scores between 70 and 79; scores lower than 70
are recorded as "D". For example, if the input is [85.5, 92, 45, 74, 79],
then the output is ["B", "A", "D", "C", "C"].

                   Input1: list               Output: list
Test 1:  [85.5, 92, 45, 74, 79]  ['B', 'A', 'D', 'C', 'C']

Grade: Easy

In [3]:
def grade(scores):
    grades = []
    for score in scores:
        if score >= 90:
            grades.append("A")
        elif score >= 80:
            grades.append("B")
        elif score >= 70: 
            grades.append("C")
        else:
            grades.append("D")
    return grades

eb[18].check(grade)

You passed 3 of the 3 tests.
The solution is correct