# Question 3

In [1]:
from exbook import book as eb

eb[2]

Write a function with a given argument n to return a list containing all
positive integers no larger than n, and these integers can be divided by 7
but can not be divided by 5. For example, if n=50, then the returned list
is [7, 14, 21, 28, 42, 49].

        Input1: int             Output: list
Test 1:          14                  [7, 14]
Test 2:          20                  [7, 14]
Test 3:          50  [7, 14, 21, 28, 42, 49]

Seven And Five: Easy

In [12]:
def seven_not_five(n):
    sevens = range(7, n + 1, 7)
    fives = range(5, n + 1, 5)
    return [num for num in sevens if num not in fives]

eb[2].check(seven_not_five)

You passed 7 of the 7 tests.
The solution is correct